
*{
    margin: 0;
    padding: 0;
}

.head{
    width: 100%;
    padding: 10px 0px;
    background-color: #ebf1f8;
}
.head-item{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: flex-end;
}
.head .item{
    margin: 0 30px 0 0;
}
.nav{
    background-color: #ebf1f8;
    position: sticky;
    height: 100px;
    top: 0px;
    
}
.nav-item{
    background-color: #ebf1f8;
    display: flex;
    margin: auto;
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.nav-item .item p{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item button{
    background: #0061FF;
    color: #FFFF;
    width: 100px;
    height: 50px;
    border: 0px #0000;
    border-radius: 10px;
    font-size: 16px;
}
header .wrap{
    background-color: #ebf1f8;
}
header .wrap-item{
    padding: 10px 0;
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-evenly;
}
header .wrap-item .item h1{
    padding: 10px 0;
    font-size: 40px;
}
header .wrap-item .item h1 span{
    color: blue;
}
header .wrap-item .item button{
    padding: 10px 0;
    background: #0061FF;
    color: #FFFF;
    width: 300px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
}
header .wrap-item .item p:nth-of-type(3){
    font-size: 13px;
}

.text .item h1,.text .item p{
    text-align: center;
}
.text .item{
    background-color: #F7F8F9;
    padding: 60px 0;
}
.text .item p{
    padding: 30px 0;
}
.box{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 60%;
    padding: 40px 0;
}
.box .item h1:nth-of-type(2){
    padding-bottom: 20px;
}
.box .item p{
    padding-bottom: 20px;
}
.box .item ul{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}
.box .item li{
    width: 210px;
    padding: 10px 20px;
    
}
.box:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
}
.titlebox{
    text-align: center;
    padding: 50px 0;
    background-color: #F7F8F9;
}
.text-foot{
    background-color: #F7F8F9;
}
.text-foot-item{
    
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 1200px;
}
.text-foot .item{
    padding: 10px 20px;
    width: 360px;
}
.text-foot .item .img,.text-foot .item .text{
    text-align: center;
}
.company{
    text-align: center;
}
.company .title{
    background-color: white;
    padding: 40px 0;
}
.company .img img{
    padding: 10px 20px;
}
.button{
    background-color: #F7F8F9;
    text-align: center;
    height: 200px;
}
.button .text h1{
    padding: 50px 0;
}
.button .text button{
    padding: 10px 0;
    background: #0061FF;
    color: #FFFF;
    width: 150px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
}
footer{
    width: 100%;
    height: 800px;
    background-color: #00142d;
}
footer .title{
    width: 80%;
    margin: auto;
}

footer .title .item{
    display: flex;
    padding: 20px 50px;
}
footer .title .item p{
    padding: 0 20px;
    color: #FFFF;
}

footer .wrap .wrap-item{
    display: flex;
    width: 80%;
    margin: auto;
    color: #FFFF;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid white;

}
footer .wrap .wrap-item p, footer .wrap .wrap-item h3{
    padding: 10px ;
}
footer .button-1{
    display: flex;
    width: 80%;
    margin: auto;
    background-color: #00142d;
    padding: 20px 0;
    border-bottom: 1px solid white;
    justify-content: flex-end;
}
footer .wrap button{
    width: 200px;
    height: 30px;
    background-color: #e3b54c;
    
}
.foot{
    padding: 20px 0;
    color: #FFFF;
}
.foot .item1{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.foot .item1 .text .item2{
    display: flex;
    padding: 10px 0;
}
.foot .item1 .text .item2 .texts{
    padding: 0 20px;
}
.foot .item1 .text .item2 .texts:first-child{
    padding-left: 0;
    border-right: 1px solid white;
}
.foot .item1 .text .item2 .texts:nth-of-type(2){
    border-right: 1px solid white;
}